<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
<head>
  <title>Hackerboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to t('nav.signup'), signup_path %></li>
    </ul>
  </nav>

<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>