<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr">
<head>
  <title>Hackerboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/header" %>
  <%= render "shared/flash_messages" %>
  <%= render "questions/search" %>
  <%= yield %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>